











 /* -------------------------- PORTFOLIO ------------------------- */


 .portfolio {
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./assets/images/bg-portfolio.jpg);
    background-size: cover;
    padding: 80px 0 50px 0;
  }

  .portfolio-img {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin:50px;
  }

  .snip0019 > img {
    border:rgba(255, 255, 255, 0.2) solid 1px;
    max-width: 400px;
    height: 100%;
  }

  .voir-plus-portfolio {
    display:block;
    text-align: center;
    padding:0px;
  }



  @media (max-width:768px) {
    .portfolio-img {
      gap:0px;
      margin:0px;
    }

    .snip0019 > img {
      max-width: 90vw;
    }
    .voir-plus-portfolio {
      padding:5vh;
    }
  }


